.form-input{
    display: block;
    width: 12em;
    height: 2.5em;
    margin: 6 4 6 10px;
}
.form-input-radius{
    border: 1px solid;
    border-radius: 2px;
}
.form-input-shadow{
    -webkit-box-shadow: 4px 5px 7px 0px #71898c;
    -moz-box-shadow: 4px 5px 7px 0px #71898c;
    box-shadow: 4px 5px 7px 0px #71898c;
}
.form-submit{
    cursor: pointer;
    /*background-image: linear-gradient(to right, #1f2e44, #0a596f, #088687, #5fb288, #bdd882);*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+75,bf6e4e+100 */
    background: #f0b7a1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 75%, #bf6e4e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 75%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 75%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
}
.form-submit:hover{
    background-color: hsla(190, 54%, 19%, 0.6);
}
placeholder{
    font-style: italic;
}