<p>users works!</p>
<table *ngIf="users"> 
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
    </tr>
    <tr *ngFor="let u of users">
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.email}}</td>
    </tr>
</table>
<input type="button" value="Edit" (click)="redirect()"/>

<input type="button" value="Goto Query" (click)="redirectToQueryParams()" />
<hr/>
<fieldset>
    <legend>One Way Binding</legend>
    <form #loginFrm="ngForm" (submit)="login(loginFrm.value)" >
        <input type="text" placeholder="username" name="user" ngModel /> <br/>
        <input type="password" placeholder="password" name="pass" ngModel /> <br/>
        <input type="submit" value="Login" />
    </form>
</fieldset>
<fieldset>
    <legend>Two Way Binding</legend>    
    <form #registerForm="ngForm" (submit)="registerAndLogin()">
        <input type="text" placeholder="Name" name="name" [(ngModel)]="registerObj.name" /> <br/>
        <input type="number" placeholder="Cell" name="cell" [(ngModel)]="registerObj.cell" /> <br/>
        <input type="submit" value="Register" />
    </form>
</fieldset>   
<fieldset>
    <legend>Reactive Form</legend>
    <form [formGroup]="signupFrm" (submit)="signUp()" novalidate >
            <span *ngIf="signupFrm.status == 'INVALID' " class="alert alert-danger">{{validError}}</span>
        <div class="form-group">
            <input type="text" name="email" formControlName="email" placeholder="Email"/>
            <sup style="color:red" class="form-control">*</sup>
            <span *ngIf="signupFrm.controls['email'].errors" class="alert alert-danger">Email is required</span>
        </div>
        <div class="form-group">
            <input type="text" name="street" formControlName="street" placeholder="Street" class="form-control"/>
            <sup style="color:red">*</sup>
            <span *ngIf="signupFrm.controls['email'].errors" class="alert alert-danger">Street is required</span>
        </div>
        <input type="submit" value="Sign Up" class="btn btn-primary"/>
    </form>
</fieldset>
